@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

:root {
  --primary-color: #17171C; 
  --light-color: #F1F2F3;
  --secondary-color: #008B8B;
  --dark-button: #2E2F38;
  --text: 'Work Sans', sans-serif;
}

* {
  font-family: var(--text);
}

body {
  background-color: var(--primary-color);
}

.table {
  background-color: var(--primary-color);
  display: flex;
  width: 100%;
  flex-direction: column;
  position: flex-end;
  align-items: flex-start;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); 
}

.display {
  width: 100%;
  height: 40%;
  text-align: right;

  font-size: 96px;
  color: white;
  margin: 5px;
  outline: none;
  
  border-radius: 25px;
  border: 1px solid var(--dark-button);
  background-color: var(--primary-color);
}

.operator, .number {
  padding: 0;
  width: 320px;
  height: 72px;

  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;

  
  font-size: 22px;
  margin: 2;
  color: white;

  border: none;
  border-radius: 25px;
  outline: none;
  background-color: var(--dark-button);

  transition: 400ms;
}

.operator:hover, .number:hover {
  cursor: pointer;
  background-color: #4E505F;
}

.operator-start:hover, .operator-end:hover {
  cursor: pointer;
}

.operator-start {
  width: 320px;
  height: 72px;

  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;

  
  font-size: 22px;
  margin: 2;
  color: white;

  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #4E505F;

  transition: 400ms;
}

.operator-end {
  width: 320px;
  height: 72px;

  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;

  
  font-size: 22px;
  margin: 2;
  color: white;

  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #4B5EFC;
  transition: 400ms;
}

/* Light Mode */

body.light-mode {
	background-color: var(--light-color);
  }
  
body.light-mode .container,
body.light-mode .table {
	background-color: #E9EBEC;
}
  
body.light-mode .display {
	background-color: var(--light-color);
  color: #17171C;
  border: none;
}
  
body.light-mode .operator,
body.light-mode .number {
	background-color: #E4E5E6;
  color:#17171C;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}
  
body.light-mode .operator-start {
	background-color: #D2D3DA;
  color:#17171C;
}


body.light-mode .switch-label {
	margin-right: 10px;
    color: #17171C;
}

/*  ------> Switch <-------  */

.switch-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}
  
.switch-label {
	margin-right: 10px;
    color: #E4E5E6;
}
  
.switch-input {
	display: none;
}
  
.switch-toggle {
	width: 3.4vw;
	height: 2vw;
	background-color: #343d5b;
	border-radius: 1000px;
	position: relative;
  display: flex;
}
  
.switch-input:checked + .switch-toggle {
	background-color: var(--secondary-color);
}
  
.switch-toggle::before {
	content: "";
	width: 2vw;
	height: 2vw;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;

	transition: transform 0.3s ease;
}
  
.switch-input:checked + .switch-toggle::before {
	transform: translateX(20px);
}

/* Responsive Tablet */
@media (max-width: 1024px) {
  .body {
    width: 100%;
    height: 70%;
  }

  .main {
    top: 30%;
    left: 35%;
    transform: translateX(-30%) translateY(-30%);
    padding: 5%;
    width: 600px;
    flex-direction: column;
    align-items: flex-start;
  }

  .table {
    width: 90vw;
    border-spacing: 4%;
    border-radius: 20px;
  }

  .display {
    left: 15vw;
    width: 60vw;
  }

  .operator-start,
  .operator-end,
  .operator,
  .number {
    width: 15vw;
    height: 15vw;
    padding: 8px 7.5px 8px 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
  }

  .switch-toggle {
    width: 6vw;
    height: 4vw;
  }

  .switch-toggle::before {
    width: 4vw;
    height: 4vw;
  }
}

/* Responsive Mobile */
@media (max-width: 768px) {
  .body{
    width: 100%;
    height: 50%;
  }
 
  .main{
    top: 23%;
    left: 28%;
    transform: translateX(-25%) translateY(-25%);     
    padding: 5%;
    width: 335px;
    flex-direction: column;
    align-items: flex-start;
  }
 
  .table{
    width: 86vw;
    border-spacing: 6%;
    border-radius: 25px;
  }
  
  .display {
    left: 20vw;
    width: 82vw;
    font-size: 44px;
  }

  .operator-start,
  .operator-end,
  .operator,
  .number {
    width: 20vw;
    height: 20vw;
    padding: 12px 11.75px 12px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0; 
  }

  .switch-toggle {
    width: 10vw;
    height: 5vw;
  }

  .switch-toggle::before {
    width: 5vw;
    height: 5vw;
  }
}
